@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  outline: none;
  resize: none;
  cursor: pointer;
}
body {
  font-family: "Jost", sans-serif;
  background-color: #f2f4ff;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.33px;
}
h2 {
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
}
h3 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}
h3 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
}
h4 {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.33px;
}

.body-1,
.body-2 {
  font-weight: 300;
}
.body-3 {
  font-weight: 600;
}

.body-1 {
  font-size: 16px;
  line-height: 23px;
}
.body-2 {
  font-size: 15px;
  line-height: 22px;
}
.body-3 {
  font-size: 13px;
  line-height: 19px;
}

/* $navy-blue-clr: #373f68;
$navy-blue-light30-clr: #3a4374;
$navy-blue-light50-clr: #647196;
$navy-blue-light70-clr: #f2f4ff;
$navy-blue-light80-clr: #f7f8fd;
$blue-clr: #4661e6;
$blue-light-clr: #62bcfa;
$pink-clr: #ad1fea;
$orange-light-clr: #f49f85;
$white-clr: #ffffff; */
